<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <%= link_to 'Alpha Blog', root_path, class: 'navbar-brand fw-bold', id: 'logo' %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Main Navigation Tabs -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <%= link_to "Home", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Articles", articles_path, class: "nav-link #{'active' if current_page?(articles_path)}" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Bloggers", users_path, class: "nav-link #{'active' if current_page?(users_path)}" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Categories", categories_path, class: "nav-link #{'active' if current_page?(categories_path)}" %>
                </li>
            </ul>

            <!-- User Actions -->
            <ul class="navbar-nav ms-auto">
                <% if current_user %>
                <!-- User Menu Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= gravatar_for(current_user, size: 30, class: "rounded-circle me-2") if respond_to?(:gravatar_for) %>
                        <span class="d-none d-md-inline"><%= current_user.username %></span>
                        <%= "(Admin)" if current_user.admin? %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="userMenuDropdown">
                        <li>
                            <h6 class="dropdown-header">
                                Account
                            </h6>
                        </li>
                        <li><%= link_to "My Profile", current_user, class: "dropdown-item" %></li>
                        <li><%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "dropdown-item" %></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <h6 class="dropdown-header">
                                Create
                            </h6>
                        </li>
                        <li><%= link_to "New Article", new_article_path, class: "dropdown-item" %></li>
                        <% if current_user.admin? %>
                        <li><%= link_to "New Category", new_category_path, class: "dropdown-item" %></li>
                        <% end %>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <%= button_to "Sign Out", destroy_user_session_path, 
                                    method: :delete, 
                                    class: "dropdown-item text-danger", 
                                    data: { confirm: "Are you sure you want to sign out?" } %>
                        </li>
                    </ul>
                </li>
                <% else %>
                <!-- Guest Actions -->
                <li class="nav-item">
                    <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-light btn-sm ms-2" %>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>